<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DigikeyPartFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DigikeyPartFinder.Properties.Settings>
            <setting name="API_KEY" serializeAs="String">
                <value />
            </setting>
            <setting name="GPL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PICS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CHEAP" serializeAs="String">
                <value>False</value>
            </setting>
        </DigikeyPartFinder.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
